.start {
  top: 100vh;
  left: 100vw;
  transform: rotate(30deg);
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.start h1 {
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.start .option {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  width: 26rem;
  margin: 0.75rem auto 0.75rem auto;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: color 0.1s, background-color 0.1s;
}

.start .option:hover {
  color: white;
  background-color: var(--blue);
}
